<html lang="en">
<head>
    <title>Welcome to GO weather</title>
</head>
<body style="text-align: center; padding: 50px; font-family: Arial, sans-serif;">
<img src="https://www.weatherbit.io/static/img/icons/r01d.png" alt="Weatherbit Logo" style="width: 100px; height: 100px;">
<h1 style="font-size: 36px;">Welcome to GO weather API</h1>
<p style="font-size: 18px;">For more information, please refer to our API
    <a href="/api/docs" style="text-decoration: none; color: #007BFF;">documentation</a>.
</p>
</body>
</html>